.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center; /* 전체는 가운데 정렬 */
  width: 300px;
  gap:10px;
  /* background-color: aliceblue; */
  padding: 30px;

}

.text_div{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form h5 {
  align-self: flex-start;
}

